<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>test1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <session-config>
<session-timeout>20</session-timeout>
</session-config>
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>test1.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>Game</servlet-name>
  <servlet-class>test1.gameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Game</servlet-name>
  <url-pattern>/gameServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>Gamelogic</servlet-name>
  <servlet-class>test1.game</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Gamelogic</servlet-name>
  <url-pattern>/game</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>Startgame</servlet-name>
  <servlet-class>test1.startgame</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Startgame</servlet-name>
  <url-pattern>/startgame</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  <servlet-name>Registration</servlet-name>
  <servlet-class>test1.Register</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Registration</servlet-name>
  <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>securedapp</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>
  
</web-app>